@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.quicksand-main-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-second-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* main {
  margin: 0 auto;
  max-width: 1440px;
} */

section {
  margin-top: 80px;
}

.display-flex {
  display: flex;
}

/* all color  */
.orange-bg {
  background-color: #fea301;
}
.orange-text {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.neon-blue {
  color: #5d58ef;
}
.pest-color {
  color: #05d4df;
}

/* all title style  */
.title-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  color: #111111;
}

.title-2 {
  color: #111111;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 57px;
}

.title-3 {
  color: #111111;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}

.title-4 {
  color: #111111;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
}

/* all button style  */
.btn {
  color: white;
  background-color: #111111;
  padding: 10px 47px;
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.btn-2 {
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 48px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
  background-color: #5d58ef;
  margin-top: -150px;
}

.card-btn {
  position: relative;
  margin-top: -35px;
}
.btn-3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  border: none;
  background: none;
  cursor: pointer;
}

/* all peragraph style  */
.peragraph-1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  color: #111111;
}

.peragraph-2 {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  color: #808080;
}

/* header sectoin style  */

/* navication style start  */

/* banner style start  */

.banner {
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.banner-contant {
  padding-right: 50px;
}
.banner-description {
  margin: 24px 0;
}

/* mani section style  */

/* Standard Curriculum start*/

.curriculum {
  background: url(../images/bg.png);
}
.curriculum-containar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  gap: 50px;
  text-align: center;
  padding: 0 140px;
}

.card-containar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 65px 20px;
  border-radius: 18px;
  text-align: center;
}

.card-1 {
  background: linear-gradient(180deg, #def5ff, #ffffff 40%), #ffffff;
  border: 1px solid #def5ff;
}
.card-2 {
  background: linear-gradient(180deg, #fff4dc, #ffffff 40%), #ffffff;
  border: 1px solid #fff4dc;
}
.card-3 {
  background: linear-gradient(180deg, #eee1ff, #ffffff 40%), #ffffff;
  border: 1px solid #f2e8ff;
}
.card-btn-1 {
  color: #64c8ff;
}
.card-btn-2 {
  color: #f0aa00;
}
.card-btn-3 {
  color: #8700ff;
}

.curriculum .arrow img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #f0aa00;
}

.less-then {
  margin-right: 10px;
}

/* stories secton style start  */

.stories {
  background: url(../images/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  padding: 0 140px 80px 140px;
}
.story-card-btn {
  color: white;
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  border: none;
  border-radius: 47.93px;
  background: #48978b;
  padding: 10px 18px;
}
.sotries-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.card-items {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card-left-side {
  width: 60%;
  border-radius: 16px;
  background-color: white;
}
.story-card-title-left {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
  text-align: left;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 48px;
}
.right-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  padding-bottom: 20px;
}
.right-side-card-itms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.story-card-image {
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.story-card-btn-div {
  position: relative;
  margin-top: -50px;
}

.sotry-card-btn-left {
  position: relative;
  margin-top: -32px;
  padding-left: 20px;
}

.story-card-title {
  padding: 0 30px;
}
.story-peragraph-left {
  color: #666666;
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28.76px;
  text-align: left;
  padding: 0 20px;
}

/* footer section style */
#footer {
  background-color: #5d58ef;
  padding: 140px 0;
}

.left-items,
.canter-items,
.right-items {
  max-width: 384px;
}

.footer-items-containar {
  gap: 50px;
  color: white;
  padding: 0 140px;
}

.left-logo-title {
  gap: 10px;
  /* padding: 0 20px; */
  margin-bottom: 20px;
  align-items: last baseline;
}

.footer-left-descriptio {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
}

.left-logo-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
}

@media screen and (max-width: 576px) {
  #footer {
    padding: 60px 0;
  }

  .footer-items-containar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 0 20px;
  }
}

/* banner responsive style start  */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    gap: 20px;
  }
  .banner-img > img {
    width: 100%;
  }
  .banner-contant {
    /* margin-bottom: 100px; */
    padding-right: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 740px) {
  .banner {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 50px;
  }
  .banner-img > img {
    width: 100%;
  }
  .banner-contant {
    padding-right: 0px;
  }
}

/* Standard Curriculum start*/

@media screen and (max-width: 576px) {
  .curriculum {
    text-align: center;
    /* width: 1152px;
    margin: 80px 0px; */
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section {
    margin-top: 60px;
  }
  .curriculum-containar {
    gap: 20px;
    padding: 0;
  }
  .card-containar {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .curriculum-title {
    font-size: 1.6rem;
    margin-bottom: 0px;
  }

  .curriculum .arrow {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 740px) {
  section {
    margin-top: 60px;
  }
  .curriculum-containar {
    gap: 20px;
  }
  .card-containar {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .curriculum-title {
    font-size: 2rem;
    margin-bottom: 0px;
  }
}

/* story section responsive start  */

@media screen and (max-width: 576px) {
  .stories {
    padding: 0 20px;
    padding-bottom: 40px;
  }

  .card-left-side {
    display: none;
  }

  .right-card img {
    width: 100%;
  }

  .story-card-btn {
    font-size: 0.5rem;
    border-radius: 30px;
    padding: 5px 12px;
  }
  .title-4 {
    color: #111111;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: normal;
  }
}

/* footer section start  */
@media screen and (max-width: 576px) {
}
